<script>
    function sendmailFrom(target) {
        var xmlhttp = new XMLHttpRequest();
        var url = "sendmail";
        var message_formData = new FormData(document.getElementById(target));
        var message_formData_objectified = {};
        for (var pair of message_formData.entries()) {
            message_formData_objectified[pair[0].toString()] = pair[1];
        }
        var myJSON = JSON.stringify(message_formData_objectified);
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(myJSON);
        //alert("Message received. Thank you!")
        var success_div=document.getElementById("success");
        success_div.innerHTML+="<div class='alert alert-success'>\n" +
            "            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\n" +
            "            <strong>Thank you for your message!<br>I will get back to you shortly. </strong>\n" +
            "        </div>";

        document.getElementById("name").value = "";
        document.getElementById("email").value = "";
        document.getElementById("message").value = "";
    }
</script>