<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airsoft mais fixe do mundo</title>
    <meta name="description" content="">
    <meta name="author" content="">

      <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>
    <br>
    <h1 align="center">Airsoft em Portugal</h1>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h2>Regras</h2>
          <p>Para armas de comprimento inferior a 60 cm, os primeiros 5 cm do cano devem estar pintados de amarelo fluorescente ou vermelho</p>
          <p>Para armas de comprimento superior a 60 cm, os primeiros 10 cm do cano e todo o coldre devem estar pintados de amarelo fluorescente ou vermelho</p>
          <p>Quando não estão a ser utilizadas, as armas devem ser transportadas sem BBs no cano e sem magazines montadas, num saco. Não podem ser transportadas fora de saco</p>
          <p>Adicionalmente, as AEGs (Airsoft Electric Gunds) devem ser transportadas com as baterias removidas da arma, terminais desconectados não chegam.</p>
          <p>Para a prática deste desporto, é necessária federação do jogador numa associação. Os valores são de 20 euros na inscrição por um ano e 12 euros de renovação anual.</p>
          <p>O não cumprimento de alguma destas regras pode incutir uma coima de entre 600 a 6000 euros.</p>
        </div>
        <div class="col-1"></div>
      </div>
  </body>
</html>
