<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rúben Marques </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
      ================================================== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
      ================================================== -->
  <link rel="stylesheet" type="text/css"  href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="intro-text">
              <h1>Rúben Marques</h1>
              <p>Electronics | Programming | Education</p>
              <a href="#portfolio" class="btn btn-custom btn-lg page-scroll">Portfolio</a> <a href="#contact" class="btn btn-custom btn-lg page-scroll">About Me</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".electronics">Electronics</a></li>
            <li><a href="#" data-filter=".programming">Programming</a></li>
            <li><a href="#" data-filter=".education">Education</a></li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 electronics programming">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/vision.png" title="Development of smartglasses for surgeons, including custom electronics, programming and 3D design at SurgeonMate." data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Hardware and software</h4>
                    <h4>Developer at SurgeonMate</h4>
                  </div>
                </div>
              </div>
              <img src="img/portfolio/vision_small.png" class="img-responsive" alt="SurgeonMate"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 electronics">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/laser_power_meter.jpg" title="Device assembled from plans, board built and soldered in-house, for measuring laser cutter power, for Dholetec." data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <div class="overlay-caption">
                    <div class="overlay-content">
                      <h4>Laser Power Meter</h4>
                      <h4>Built for Dholetec</h4>
                    </div>
                  </div>
                </div>
                <img src="img/portfolio/laser_power_meter_small.jpg" class="img-responsive" alt="Laser Power Meter"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 electronics programming">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/tapete.jpg" title="Instrumentation of a vynil mat and programming of the associated game using a RaspberryPi and custom electronics, with Dholetec." data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <div class="overlay-caption">
                    <div class="overlay-content">
                      <h4>Sensored mat and game</h4>
                      <h4>Built with Dholetec</h4>
                    </div>
                  </div>
                </div>
                <img src="img/portfolio/tapete_small.jpg" class="img-responsive" alt="Sensored mat and game"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 programming">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/ipfn_it.jpg" title="Management of services such as email, firewall and automatic backups and full stack web developer at IPFN." data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>IT Support at IPFN</h4>
                  </div>
                </div>
              </div>
              <img src="img/portfolio/ipfn_it_small.jpg" class="img-responsive" alt="IT Support"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 electronics programming">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/cnc.jpeg" title="Instrumentation of a CNC chassis with a mix of off the shelf and custom electronics. Fully custom interface and control algorithms." data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <div class="overlay-caption">
                    <div class="overlay-content">
                      <h4>Homemade CNC</h4>
                      <h4>Built for PCB milling</h4>
                    </div>
                  </div>
                </div>
                <img src="img/portfolio/cnc_small.jpeg" class="img-responsive" alt="Homemade CNC"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 electronics programming education">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/electronics_lab.jpg" title="Theoric and practical support to groups of 16-18 students in the lab classes of Microcontrollers, Electronics Instrumentation and Data Acquisition Systems at IST." data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <div class="overlay-caption">
                    <div class="overlay-content">
                      <h4>College Lab Monitor at IST</h4>
                    </div>
                  </div>
                </div>
                <img src="img/portfolio/electronics_lab_small.jpg" class="img-responsive" alt="College Lab Monitor"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 electronics programming education">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/elab.png" title="Development of custom electronics, programming of microcontrollers and GUI for remote controlled real physics experiments as part of the e-lab project at IST." data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Software and Hardware</h4>
                    <h4>Developer at e-lab</h4>
                  </div>
                </div>
              </div>
              <img src="img/portfolio/elab_small.png" class="img-responsive" alt="e-lab"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <h2>About Me - <a class="cv-link" href="cv.pdf">Download my CV</a></h2>
    <div class="col-md-6">
      <div class="section-title">
        <div class="row"> <img src="img/about.jpg" class="img-responsive pull-left" alt="">
          <p>When I was kid I liked to smash toys together and once built a remote controlled boat from remote controlled car parts, glue and styrofoam. I have been a DIY addict since then.</p>
          <p>My formal education is on Engineering Physics and the combined experience of physics, math and engineering helps a lot when learning new skills.</p>
          <p>If I am not working on anything, you will probably find me playing video games with friends, running, or daydreaming about new projects.</p>
          <p>I am an entrepreneur at heart, having co-founded SurgeonMate with a friend who happens to be a surgeon. We want to create technological solutions to help surgeons provide the best healthcare possible.</p>
          <div class="social">
            <ul>
              <li><a href="https://www.facebook.com/ruben.marques.39589"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/ruben-marques-6179aa60/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="section-title">
        <p>For inquiries or collaborations please contact me by email at <strong>rubenmarques91@gmail.com</strong> or fill out the form below.</p>
      </div>
      <form name="sentMessage" id="sendmail" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg" onclick="sendmailFrom('sendmail')">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p>&copy; 2018 Rúben Marques. All rights reserved.</p>
  </div>
</div>
<% include ../partials/scripts %>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<!--<script type="text/javascript" src="js/contact_me.js"></script>-->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
